image: docker:stable

services:
- docker:dind

dmd-feature: &test
  variables:
    COMPILER: dmd
    TOOL: feature
  stage: build
  script: docker run -v$(pwd):/source ohboi/mini$COMPILER bash -c "
    apt-get update -qq 2>&1 > /dev/null                     &&
    apt-get install -qq -y --no-install-recommends dejagnu  &&
    cd testsuite && runtest --tool=$TOOL"

ldc-feature:
  <<: *test
  variables:
    COMPILER: ldc
    TOOL: feature

dmd-issue:
  <<: *test
  variables:
    COMPILER: dmd
    TOOL: issue

ldc-issue:
  <<: *test
  variables:
    COMPILER: ldc
    TOOL: issue

pages:
  script:
    - cp -r pages/public public
    - docker run -v$(pwd):/source ohboi/minidmd bash -c "
     dub fetch dscanner &&
      export LOC=\$(dub run dscanner -q -- --sloc silly.d | sed -e 's/.*:\t//' | head -n1) &&
      echo silly.d contains just \$LOC lines of code &&
      cat misc/loc.svg | sed s/%s/\$LOC/ > public/loc.svg"
  artifacts:
    paths:
      - public/
  # only:
  #   - /^v\d+\.\d+\.\d+.*$/
  # except:
  #   - branches